version: '3.1'
services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:6.8.13
    restart: unless-stopped
    environment:
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - ./_data/elasticsearch:/usr/share/elasticsearch/data
  web:
    links:
      - elasticsearch
    environment:
      - MW_CIRRUS_SEARCH_SERVERS=$(MW_CIRRUS_SEARCH_SERVERS:-elasticsearch)
      - MW_SEARCH_TYPE=$(MW_SEARCH_TYPE:-CirrusSearch)
