version: '3.1'
services:
  redis:
    image: "redis:alpine"
    restart: unless-stopped
    volumes:
      - ./_data/redis:/data
  web:
    links:
      - redis
    environment:
      - MW_MAIN_CACHE_TYPE=$(MW_MAIN_CACHE_TYPE:-CACHE_REDIS)
