version: '3.1'
services:
    varnish:
        image: varnish:stable
        ports:
            - "${PORT:-127.0.0.1:8081}:80"
        links:
            - web
        tmpfs:
            - /var/lib/varnish:exec
        environment:
            - VARNISH_SIZE=${VARNISH_SIZE:-2G}
        volumes:
            - ./varnish.vcl:/etc/varnish/default.vcl
